/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    --primary:#ffcc00;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*menu*/
.menu-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}
.img-complete{
    display: none;
}
.img-frame{
    height: 32px;
    margin-left: 20px;
}
.link-search,.link-news,.link-menu{
    display: none;
}
.link-login{
color: black;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
letter-spacing: 4px;
margin-right: 20px;
}
.link-subs{
text-transform: uppercase;
background-color: black;
color: white;
margin-right: 20px;
font-size: 12px;
font-weight: bold;
padding: 13px;
letter-spacing: 4px;
transition: ease-out 1.0s;
height: 20px;
width: 60px;
box-shadow: inset 0 0 0 0 var(--primary);
}
.link-arrows{
    color: black;
    margin-right: 20px;
}

.link-subs:hover{
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    color: black;
    box-shadow: inset 300px 0 0 0 var(--primary);
    }
/*header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
}
header h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 38px;
    text-align: center;
    margin-right: 70px;
    margin-bottom: 25px;
}
header p{

}
p span.subscribe-word{
text-decoration-color: #ffcc00;
text-decoration-line: underline;
transition: ease-in 4.0s;
height: 20px;
width: 60px;
box-shadow: unset 0 0 0 0 var(--primary);
}

p span.subscribe-word:hover{
    background-color: #ffcc00;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    color: black;
    box-shadow: unset 100% 0 0 0 var(--primary);
   }

div.border{
    
}
